
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .fadeup-effect img {
    opacity: 0;
    // transform: translate3d(0, 100%, 0);
}
  
  .fadeInUp img {
    animation-name: fadeInUp;
    // animation-duration: 0.7s;
  }