// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$spacer: 2.5rem;

//colors
$on-scent-green: rgb(108,173,82); 
$on-scent-blue: rgb(4, 70, 98);
$on-scent-light-blue: rgb(218, 231, 241);
$neon-green: rgb(95, 185, 70);

$primary: $on-scent-green; 
$secondary: $on-scent-blue;
$dark: rgb(29, 38, 29);
$dark-gray: rgb(83, 83, 83);
$gray: rgb(127, 127, 127);


//font
$font-family-base: proxima-nova, sans-serif; 
$font-weight-semi-bold: 500;
$body-color: $on-scent-blue;

//componantes
$border-radius: .5rem !default;

//text
$text-shadow: 1px 1px 1px rgba($dark, .8);

// navbar
$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: $on-scent-green;
$enable-caret: false;

//nav-link
$navbar-nav-link-padding-x: 2rem;

// dropdown
$dropdown-font-size: .75rem;
$dropdown-link-color: #ffffff;
$dropdown-link-hover-bg: rgba($on-scent-green, .9);
$dropdown-border-radius: none;


// dropdown - ititial style
$dropdown-bg: rgba($on-scent-green, .5);

// ** dropdown - options for eric ** 
// $dropdown-bg: rgba($dark, .5);
//$dropdown-bg: rgba($dark, .7);


// dropdown items
$dropdown-item-padding-y: .25rem;
$dropdown-item-padding-x: .75rem;

// forms
$input-border-color: $gray;
$input-border-width: 2px;

// carousel 
// $carousel-control-color: $on-scent-blue;
$carousel-control-icon-width: 4rem;
$carousel-indicator-width: 40px;
$carousel-indicator-height: 5px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer: 8px;

// modal
$modal-header-border-width: 0;
$modal-header-padding: 2.5rem 2.5rem 0 2.5rem;
